<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsu.dao.BookMapper">

        <select id="getBookById"  parameterType="String" resultType="com.jsu.bean.Book">
            select * from  book where id =#{id}
            /*如何封装对象
            ResultSet ResultSetMataData ResultSetMataData 能获得列名---对应book 属名名，通过反射获得set方法 */
        </select>

        <delete id="delete" parameterType="java.lang.String">
          delete from book where id=#{id}
        </delete>

        <update id="update" parameterType="com.jsu.bean.Book">
             update book set name=#{name} where id=#{id}
        </update>

        <insert id="saveBook" parameterType="com.jsu.bean.Book">
            insert into book(id,name) values(#{id},#{name})
        </insert>

</mapper>